header {
   background-color: blueviolet;
   color: black;
   text-align: center;
   max-width: 800px;
   margin: 0 auto;
   padding: 16px;
   border: 5px solid aquamarine;
}

main{
   background-color: cyan;
   color:black;
   max-width: 800px;
   margin: 0 auto;
   padding: 16px;
   display: flex;
}